body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

p {
    color: #34495e;
    font-size: 18px;
}

.card {
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title {
    font-weight: bold;
    color: #2980b9;
}

.card-text {
    font-size: 16px;
    color: #2c3e50;
}
